.logo{
	min-height: 100px;
	background-color: #D35400;
}
.wraper{
	overflow: hidden;
}
.boxl{
	min-height: 500px;
	background-color: #FDFEFE;
	width: 45%;
	float: left;
}
.wraper2{
	overflow: hidden;

}
.boxl1{
	min-height: 230px;
	background-color: #1ABC9C;
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.boxl2{
	min-height: 230px;
	background-color: #8E44AD;
	width: 45%;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}
.wraper3{
	overflow: hidden;
}
.boxl3{
	min-height: 230px;
	background-color: #1ABC9C;
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.boxl4{
	min-height: 230px;
	background-color: #8E44AD;
	width: 45%;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}

.boxr{
	min-height: 500px;
	background-color: #FDFEFE;
	width: 55%;
	float: right;
}
.wraper4{
	overflow: hidden;
}
.boxr1{
	min-height: 230px;
	background-color:#1ABC9C ;
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.boxr2{
	min-height: 230px;
	background-color:#8E44AD ;
	width: 45%;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.boxr3{
	min-height: 230px;
	background-color: #1ABC9C;
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.boxr4{
	min-height: 230px;
	background-color: #8E44AD;
	width: 45%;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.wraper5{
	overflow: hidden;
}
.box1{
	min-height: 150px;
	background-color: #2874A6;
	width: 30%;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.box2{
	min-height: 150px;
	background-color: #E74C3C;
	width: 30%;
	float: left;
	margin-left: 60px;
	margin-bottom: 10px;
}
.box3{
	min-height: 150px;
	background-color: #F4D03F;
	width: 30%;
	float: right;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.footer{
	min-height: 50px;
	background-color: #1C2833;
}
